<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<target name="logfile"
			xsi:type="File"
			fileName="${specialfolder:folder=LocalApplicationData}/logs/nlog.csv"
			archiveFileName="${specialfolder:folder=LocalApplicationData}/logs/nlog-{#}.csv"
			archiveEvery="Hour"
			archiveNumbering="Date"
			maxArchiveFiles="5"
			archiveDateFormat="yyyy-MM-dd-HH-mm"
			encoding="UTF-8">
			<layout xsi:type="CSVLayout">
				<quoting>All</quoting>
				<withHeader>true</withHeader>
				<delimiter>Comma</delimiter>
				<column name="time" layout="${longdate}" />
				<column name="logger" layout="${logger}"/>
				<column name="level" layout="${level}"/>
				<column name="machinename" layout="${machinename}"/>
				<column name="windows-identity" layout="${windows-identity}"/>
				<column name="appdomain" layout="${appdomain}"/>
				<column name="processid" layout="${processid}"/>
				<column name="processname" layout="${processname}"/>
				<column name="threadid" layout="${threadid}"/>
				<column name="message" layout="${message}" />
				<column name="stacktrace" layout="${exception:format=Type,Message,StackTrace,Data:maxInnerExceptionLevel=5}" />
			</layout>
		</target>
		<target xsi:type="Console" name="console" layout="LOG: ${longdate} [${uppercase:${level}}] ${message}" />
	</targets>
	<rules>
		<!-- Available LogLevels: Trace, Debug, Info, Warn, Error and Fatal -->
		<logger rulename="logfilelogger" name="*" minlevel="Warn" writeTo="logfile" />
		<logger rulename="consolelogger" name="*" minlevel="Debug" writeTo="console" />
	</rules>

</nlog>